<!DOCTYPE html>
  <html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @sender.email %> has invited you to join bloccit</h1>
    <%= link_to "Join Bloccit", new_user_url %>
  </body>
</html>